"*":
  "atom-beautify":
    general:
      _analyticsUserId: "6ddbde88-b083-4f18-94ee-abf676be7f8e"
    html: {}
  "autoclose-html": {}
  core:
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Source Han Code JP"
    fontSize: 16
    invisibles: {}
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "cafebedf-35aa-bf8f-7835-5979a9101d7d"
  "git-diff":
    showIconsInEditorGutter: true
  "go-config":
    gopath: "/Users/tamrin/ghq"
  "go-debug":
    panelInitialVisible: false
  "go-imports": {}
  "go-plus":
    currentPanelHeight: "16.55629139072848vh"
    panelDisplayMode: "closed"
  godef:
    show: "Right"
  linter:
    errorPanelHeight: 24
  "save-session":
    dataSaveFolder: "/Users/tamrin/.atom/packages/save-session/projects"
  "seti-syntax": {}
  "seti-ui": {}
  term3: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "tree-view-filter":
    globalFilter: "!.DS_Store"
    liveUpdate: true
  welcome:
    showOnStartup: false
".fixed.fortran.source":
  editor:
    tabLength: 4
".fortran.free.source":
  editor:
    tabLength: 4
".fortran.modern.source":
  editor:
    tabLength: 4
".fortran.preprocessor.source":
  editor:
    tabLength: 4
".fortran.punchcard.source":
  editor:
    tabLength: 4
