"*":
  "atom-beautify":
    general:
      _analyticsUserId: "27d0bbc4-1547-40f1-8172-554f7c791803"
    python:
      default_beautifier: "yapf"
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontFamily: "Source Han Code JP"
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "7128b8e4-b134-46e6-a6c5-b05713ad3e30"
  "go-plus":
    config:
      gopath: "~/ghq"
  "linter-eslint":
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "text.html.vue"
    ]
  "linter-ui-default": {}
  "save-session":
    dataSaveFolder: "/Users/tamrin/.atom/packages/save-session/projects"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
